services:
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: a
      POSTGRES_USER: ico
      POSTGRES_DB: prostore
    healthcheck:
       test: ["CMD-SHELL", "pg_isready -U prisma -d postgres"]
       interval: 5s
       timeout: 2s
       retries: 20
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    volumes: 
      - psgdb_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - prisma-network
      
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - prisma-network

volumes:
  psgdb_data:

networks:
  prisma-network:
